<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Poke - HOME</title>
<link rel="stylesheet" type="text/css" href="styles/home.css">
</head>
<body>

<header>
  <h1>Pokémon Creator!</h1>
</header> 

  <div style="background-color:maroon; height:1200px; width:140px; float:left;">
     <marquee behavior="scroll" direction="up">
     	<img src="model/27.png">
     	<img src="model/127.png">
     	<img src="model/691.png">
     	<img src="model/260.png">
     	<img src="model/401.png">
     	<img src="model/109.png">
     	<img src="model/373.png">
     	<img src="model/43.png">
     	<img src="model/196.png">
     </marquee>
  </div>
  
  <div style="background-color:maroon; height:1200px; width:140px; float:right;">
     <marquee behavior="scroll" direction="down">
     	<img src="model/61.png">
     	<img src="model/96.png">
     	<img src="model/32.png">
     	<img src="model/700.png">
     	<img src="model/499.png">
     	<img src="model/357.png">
     	<img src="model/440.png">
     	<img src="model/283.png">
     	<img src="model/648.png">
     </marquee>
  </div>
  
  <br/><br/>
  
<div class = "container-fluid centerize home-text">
	<h4>From the maker of <a class = "link-text" href = "https://sharangw.github.io/pokego/">Pokémon Battle Randomizer</a></h4>
	
	<br/><br/><br/>
	
	<div class = "info-text">
		<h4>Go to the 'Create' page to build your own pokémon!</h4>
	</div>
	
</div>





</body>
</html>