<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Poke - HOME</title>
<link rel="stylesheet" type="text/css" href="styles/home.css">
</head>
<body>

<header>
  <h1>Pokémon Creator!</h1>
</header> 

  <div style="background-color:maroon; height:1550px; width:135px; float:left;">
     <marquee behavior="scroll" direction="up">
     	<img src="model/27.png">
     	<img src="model/127.png">
     	<img src="model/691.png">
     	<img src="model/260.png">
     	<img src="model/401.png">
     	<img src="model/109.png">
     	<img src="model/373.png">
     	<img src="model/43.png">
     	<img src="model/196.png">
     </marquee>
  </div>
  
  <div style="background-color:maroon; height:1550px; width:135px; float:right;">
     <marquee behavior="scroll" direction="down">
     	<img src="model/61.png">
     	<img src="model/96.png">
     	<img src="model/32.png">
     	<img src="model/700.png">
     	<img src="model/499.png">
     	<img src="model/357.png">
     	<img src="model/440.png">
     	<img src="model/283.png">
     	<img src="model/648.png">
     </marquee>
  </div>
  
  <br/><br/>
  
<div class = "container-fluid centerize home-text">
	<h4>From the maker of <a class = "link-text" href = "https://sharangw.github.io/pokego/">Pokémon Battle Randomizer</a></h4>
	
	<br/><br/><br/>
	
	<div class = "info-text">
		<h4>Go to the 'Create' page to build your own pokémon!</h4> <br/><br/>
		<h4>View your creation in the 'Result' page.</h4> <br/><br/><br/>
		
		<h4>Some examples:</h4>

			<div class="crop-head-one">
				<img src="pics/4.png" />
			</div>
			<div class="crop-bottom-one">
				<img src="pics/1.png" />
			</div>
			
			<div class="crop-head-two">
				<img src="pics/67.png" />
			</div>
			<div class="crop-bottom-two">
				<img src="pics/125.png" />
			</div>
			
			<div class="crop-head-three">
				<img src="pics/241.png" />
			</div>
			<div class="crop-bottom-three">
				<img src="pics/122.png" />
			</div>
			
			<div class="crop-head-four">
				<img src="pics/244.png" />
			</div>
			<div class="crop-bottom-four">
				<img src="pics/556.png" />
			</div>
			
			<div class="crop-head-five">
				<img src="pics/25.png" />
			</div>
			<div class="crop-bottom-five">
				<img src="pics/219.png" />
			</div>
			<div class="placeSaber">
				<img src="https://vignette3.wikia.nocookie.net/role-play/images/4/49/Lightsaber.png/revision/latest?cb=20131228210601" />
			</div>
			<div class="placeMachineGun">
				<img src="https://vignette2.wikia.nocookie.net/xenonauts/images/4/4c/Machinegun.png/revision/latest?cb=20121206094123" />
			</div>
			
			<div class="page-views">
				<a href='http://www.counter12.com'><img src='http://www.counter12.com/img-a36D34wdD6YCZ2dw-29.gif' border='0' alt='counter'></a>
				<script type='text/javascript' src='http://www.counter12.com/ad.js?id=a36D34wdD6YCZ2dw'></script>				
			</div>
			
			<div class="info-buttons">			
				<a href="https://pokeapi.co/" class="btn btn-default">Pokémon Data</a>
				<a href="https://github.com/sharangw/pokego" class="btn btn-default">Source Code</a>
			</div>

		</div>
	
</div>






</body>
</html>
