@CHARSET "UTF-8";

body {
	background-color: peachpuff;  
}

.centerize {
	text-align: center;
}

.place-fight-button {
    padding: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    top: -45px;
    left: 413px;
}

.options {
	
    position: relative;
    top: 25px;
    left: 50px;
	
}

.begin-button {
	padding: 15px;
    width: 100%;
    margin: -26px;
    position: relative;
    top: -350px;
    left: 1032px;	
	
}

.crophead {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:150px;
	top:200px;
	z-index:-1;
}

.cropbottom {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:150px;
	top:100px; 
	z-index:-1;
}

.place-saber {
	position: absolute;   
	left:470px;
	top:260px; 
	z-index:-1;
	
}

.place-bat {
	position: absolute;   
	left:70px;
	top:210px; 
	z-index:-1;
}

.place-machine-gun {
	position: absolute;   
	left:450px;
	top:360px; 
	z-index:1;
}

.crop-wildcard1 {
	position: absolute;  
	clip: rect(0px,475px,200px,0px);     
	left:270px;
	top:200px; 
	z-index:-1;
}

.battle-button {
    padding: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    top: 50px;
    left: 600px;
}

.opponent-name {
	font-family: 'Alegreya Sans SC', fantasy;
	font-weight: bold;
	color: black;
	font-size: x-large;
	position: absolute;    
	left:800px;
	top:170px; 
	z-index:-1;
}

.opponent {
	position: absolute;    
	left:670px;
	top:190px; 
	z-index:-1;
}

.heart {
	display:none;
	position: absolute;    
	left:500px;
	top:250px; 
	z-index:-1;
}

.place-name {
	font-family: 'Alegreya Sans SC', fantasy;
	font-weight: bold;
	color: red;
	font-size: x-large;
	position: absolute;    
	left:300px;
	top:170px; 
	z-index:-1;
}

.place-winner {
	font-family: 'Alegreya Sans SC', fantasy;
	font-weight: bold;
	color: purple;
	font-size: xx-large;
	position: absolute;    
	left:550px;
	top:155px; 
	z-index:-1;
}

.place-points {
	font-family: 'Alegreya Sans SC', fantasy;
	font-weight: bold;
	color: purple;
	font-size: x-large;
	position: absolute;    
	left:515px;
	top:200px; 
	z-index:-1;
}
