@CHARSET "UTF-8";

body {
  padding: 0;
}

header {
  padding: 90px 500px 50px;
  background-image: url(http://3.bp.blogspot.com/--QItny8yGbE/V9AKRgphyuI/AAAAAAAAL6I/lopzYYXz_LsP0mgeqGWrBQ0DNgJkAUZJgCHM/s1600/pokemon-pokeball-wallpaper-wallpapersafari.jpg);
  background-size: 30%;
}

header h1 {
  font-family: 'Alegreya Sans SC', fantasy;
  font-size: 87px;
  font-weight: bold;
  color: red;
  text-align : center;
  mix-blend-mode: screen;
  padding: 0;
  margin: 0;
  line-height: 0.5;
}

.home-text {
	color: black;
}

.link-text {
	color: navy;
}

.info-text {
	color: black;
	font-family: sans-serif;
	
}

.crop-head-one {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:150px;
	top:560px;
	z-index:-1;
}

.crop-bottom-one {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:150px;
	top:420px; 
	z-index:-1;
}

.crop-head-two {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:610px;
	top:520px;
	z-index:-1;
}

.crop-bottom-two {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:650px;
	top:420px; 
	z-index:-1;
}

.crop-head-three {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:150px;
	top:920px;
	z-index:-1;
}

.crop-bottom-three {
	position: absolute;   
	clip: rect(302px,475px,475px,0px);
	left:123px;
	top:818px; 
	z-index:-1;
}

.crop-head-four {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:700px;
	top:920px;
	z-index:-1;
}

.crop-bottom-four {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:650px;
	top:820px; 
	z-index:-1;
}

.crop-head-five {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:450px;
	top:1330px;
	z-index:-1;
}

.crop-bottom-five {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:400px;
	top:1230px; 
	z-index:-1;
}

.placeSaber {
	position: absolute;   
	left:650px;
	top:1420px; 
	z-index:-1;
	
}

.placeMachineGun {
	position: absolute;   
	left:320px;
	top:1510px; 
	z-index:-1;
}

.page-views {
	position: absolute;   
	right:650px;
	top:1800px; 
	z-index:-1;
}
