@CHARSET "UTF-8";

body {
	background-color: peachpuff;  
}

.centerize {
	text-align: center;
}

.crophead {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:450px;
	top:140px;
	z-index:-1;
}

.cropbottom {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:450px;
	top:40px; 
	z-index:-1;
}

.place-saber {
	position: absolute;   
	left:770px;
	top:200px; 
	z-index:-1;
	
}

.place-bat {
	position: absolute;   
	left:370px;
	top:150px; 
	z-index:-1;
}

.place-machine-gun {
	position: absolute;   
	left:370px;
	top:300px; 
	z-index:-1;
}

.crop-wildcard {
	position: absolute;  
	clip: rect(0px,475px,200px,0px);     
	left:520px;
	top:140px; 
	z-index:-1;
}

.stats {
	position: absolute; 
	left:630px;
	top:500px; 
}




