@CHARSET "UTF-8";

body {
	background-color: peachpuff;  
}

.centerize {
	text-align: center;
}

.place-button {
    padding: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    top: -63px;
    left: 400px;
}

.place-name {
	font-family: 'Alegreya Sans SC', fantasy;
	font-weight: bold;
	color: red;
	position: absolute;
	left: 540px;
	top: 140px;
	z-index:-1;
}

.crophead {	
	position: absolute;
	clip: rect(0px,475px,200px,0px);    
	left:450px;
	top:200px;
	z-index:-1;
}

.cropbottom {
	position: absolute;   
	clip: rect(300px,475px,475px,0px);
	left:450px;
	top:100px; 
	z-index:-1;
}

.place-saber {
	position: absolute;   
	left:770px;
	top:260px; 
	z-index:-1;
	
}

.place-bat {
	position: absolute;   
	left:370px;
	top:210px; 
	z-index:-1;
}

.place-machine-gun {
	position: absolute;   
	left:370px;
	top:360px; 
	z-index:-1;
}

.crop-wildcard {
	position: absolute;  
	clip: rect(0px,475px,200px,0px);     
	left:570px;
	top:200px; 
	z-index:-1;
}

.stats {
	position: absolute; 
	left:530px;
	top:560px; 
	z-index:-1;
}



